.nav-item-mobile {
  position: static;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    list-style-type: none;
}
 


.nav-item-mobile a{
    text-decoration: none;
    color:hsl(0, 0%, 41%);;
}


.dropdown-menu-mobile {
  position: relative;
  top: 23px;
  left: -40%;
    list-style-type: none;
    width: 150px;
    background-color: hsl(0, 0%, 98%);
    border: 1px solid white;
    border-radius: 15px;
  }

  .dropdown-menu-mobile li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
   
    
}

.dropdown-menu-mobile li img {
    margin-right: 10px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.element-line img {
  position: fixed;
  margin-left: 5px ;
  margin-top: 4px;
  width: 15px;
  height: 10px;
}