.nav-bar-mobile {
    position: fixed;
    min-width: 375px;
    display: flex;
    align-items: center;
    background: hsl(0, 0%, 95%);
}

.nav-bar-mobile ul {
    min-width: 340px;
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    list-style-type: none;
}

a:hover{
    color: hsl(0, 0%, 8%);
    font-weight: bold;
  }

.nav-bar-mobile img {
    height: 25px;
    width: 45px;
}

.btn-toggle-mobile img{
    height: 20px;
    width: 25px;
} 

.links-mobile-container{
    position: fixed;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 15px;
    margin:  40px 200px;
    height: 100%;
    width: 365px;
    background-color: hsl(0, 0%, 95%);
} 

.links-items-mobile li {
    padding: 5px 5px;
    margin-top: 15px;
    margin-right: 35px;
}

.sign-btn-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.sign-btn-mobile button {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 5px;
    margin: 0 5px;
    width: 150px;
    height: 35px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
}

button:hover{
    color: hsl(0, 0%, 8%);
    font-weight: bold;
  }

.sign-btn-mobile button:nth-child(1) {
    border: none;
    background: hsl(0, 0%, 95%);
  }

