.mainBloc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.bloc1-page{
    margin-top: 100px;
    margin-left: 100px;
}

h1{
    font-size: 100px;
}

p{
    font-size: 25px;
    text-align: justify;
    color: hsl(0, 0%, 41%);
    margin-top: 30px;
}

.btn-page{
    border-radius: 16px;
    background-color: hsl(0, 0%, 8%);
    font-size: 16px;
    width: 150px;
    height: 50px;
    margin-top: 90px;  
}

.btn-page a {
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-weight: 900;
}

.logo-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 90px;
}

.img-page{
    margin-top: 100px;
    margin-right: 180px;
    margin-left: 200px;
    width: 580px;
    height: 600px;
}


